@import "tailwindcss";

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 85vw; 
    margin-left: auto; 
    margin-right: auto;
}

/* Image Slider Arrows Squish Effect */
.image-slider-btn:hover > *,
.image-slider-btn:focus-visible > *{
    animation: squish 200ms ease-in-out;
}

@keyframes squish {
    50% { scale: 1.4 0.6; }
}